div.name {
     background-color: red;
    color: #0e3255;
    border: 1px solid;
    border-radius: 4px;
}

body > form > div.name > input[type=text]:nth-child(1)
{
 background-color: red;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}